body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #B8EEF5;
}

header {
    background: url('header.png') no-repeat center center;
    background-size: cover;
    height: 250px;
    text-align: center;
    padding: 60px 0; /* Vertical padding */
}

header h1 {
    color: white;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0; /* Remove default margin */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    padding: 10px 20px; /* Vertical and horizontal padding */
    border-radius: 10px; /* Optional: rounded corners */
    display: inline-block; /* To limit the background to the text width */
}

main, footer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

main article h2 {
    margin-top: 0;
    color: #444;
}

main article h2 a {
    text-decoration: none;
    color: inherit;
}

footer {
    text-align: center;
    color: #777;
}
