/* Adding Google Fonts to your stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    background-color: #E0F7FA;
    line-height: 1.8;
    font-size: 1.1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white no-repeat center center;
    background-size: cover;
    height: 70px;
    /* Adjust as required */
    text-align: left;
    padding: 40px 0;
    border-bottom: 2px solid #333;
}

.headerContent {
    display: flex;
    align-items: center;
    /* Aligns the content of .headerContent vertically */
}

#headerImage {
    width: 100px;
    /* Adjust as needed */
    margin-right: 15px;
    /* Space between image and text */
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    margin-bottom: -10px;
    /* Negative margin to reduce the gap */
    font-family: 'Roboto', sans-serif;
}

header h2 {
    font-size: 1em;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    color: #777;
}

strong {
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

main article h2,
main article h3,
main article h4,
main article h5,
main article h6 {
    font-family: 'Roboto', sans-serif;
}

main article h3 {
    margin-bottom: 15px;
}

main article h2 {
    margin-top: 0;
    color: #333;
    border-bottom: 2px solid #E0F7FA;
    padding-bottom: 10px;
}

main article h2 a {
    text-decoration: none;
    color: inherit;
}

main article p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

main article h3+p {
    margin-top: 2px;
}

ol, ul {
    font-size: 1.1em;
    margin: 0 0 20px 20px;
    padding: 10px;
}

footer {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    color: #777;
    font-size: 0.9em;
    padding: 20px;
}

a {
    transition: color 0.3s ease;
}

a:hover {
    color: #007B9E;
}